* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Playwrite ID", sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: black;
}

body::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.con {
    height: 70vh;
    width: 70vw;
    position: relative;
    box-shadow: 0 0 20px white,
                0 0 40px white,
                0 0 60px white;
    overflow: hidden;
    border-radius: 20px;
}

.panel {
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.panel.active {
    opacity: 1;
}

.panel h3 {
    color: white;
    bottom: 20px;
    width: 100%;
    text-align: center;
    left: 10px;
    position: absolute;
    font-size: 30px;
    -webkit-text-stroke: 2px solid black;
}

.arrow {
    position: fixed;
    background-color: white;
    color: black;
    padding: 20px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.arrow:focus {
    outline: none;
}

.leftarrow {
    left: calc(15vw - 65px);
}

.rightarrow {
    right: calc(15vw - 65px);
}
