* {
    margin: 0;
    padding: 0;
    font-family: "Quantico", sans-serif;
    font-size: 40px;
}

body {
    background: linear-gradient(#222831, #393E46, #00ADB5, #EEEEEE);
    height: 100vh;
}

.con {
    border: 2px solid white;
    margin: 100px auto;
    width: 500px;
    height: 500px;
    text-align: center;
}

#main-heading {
    color: white;
    text-decoration: underline;
}

ul {
    list-style: none; 
    padding: 0;
}

.items {
    color: white;
    padding: 10px;
    margin: 10px;
    border: 2px solid white;
}
