@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lugrasimo&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    /* font-family: "IBM Plex Mono", monospace; */
    font-family: "Lugrasimo", cursive;
}

html {
    font-size: 62.5%;
}

body { 
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Garbage Container */
.garbageCon {
    width: 100vw;
    max-width: 70vw;
    height: 75vh;
    border: 1px solid black;
    position: relative;
    border: 2px solid black;
}

.garbageCon .header { 
    width: 100%;
    height: 20px;
    padding: .5rem;
    color: white;
    position: relative;
    background-color: black;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.garbageCon .header .dot{
    width: 1rem;
    height: 1rem;
    background-color: white;
}

.garbageCon .header .title{
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "IBM Plex Mono", monospace;
}

/* Paper */

.paperCon {
    width: 5rem;
    height: 5rem;
    position: absolute;
    background-color: aquamarine;
    user-select: none;
}

.paperCon:hover { 
    cursor: grab;
}

.paperCon:active{
    cursor:grabbing;
}