* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.con {
    width: 400px;
    height: 400px;
    background: linear-gradient(#71C9CE,#A6E3E9,#CBF1F5,#E3FDFD);
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    animation: falling 1.5s linear forwards;
}

.con::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px #00ADB5,
                0 0 20px #00ADB5,
                0 0 40px #00ADB5,
                0 0 60px #00ADB5,
                0 0 80px #00ADB5,
                0 0 100px #00ADB5;
}

@keyframes falling {
    0% {
        transform: translate(-50%, 0);
    }
    70% {
        transform: translate(-50%, 350px);
    }

    80%{
        transform: translate(-50%,330px);
    }

    100%{
        transform: translate(-50%,350px);
    }
}
