@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    /* font-family: "Bebas Neue", sans-serif; */
    font-family: "Comfortaa", sans-serif;
}

html{
    font-size: 62.5%;
}

body ,#root{
    width: 100%;
    height: 100vh;
    background: linear-gradient(360deg, #100C08, #95122C);
    /* background: linear-gradient(360deg, #100C08, #95122C, #CA3F16, #FF9408); */
    /* background: linear-gradient(360deg, #95122C, #FF9408); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.Glass{
    padding: 10px;
    width: 95%;
    height: 95%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    position: relative;
}

.Schedulers{
    padding: inherit;
    width: 60%;
    height: 100%;
    position: relative;
    border-radius: inherit;
    backdrop-filter: blur(50px);
    box-shadow: 0 .8rem 3.2rem 0 black;
    background-color: rgba(255, 255, 255, 0.1);
    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    /* gap: .5rem; */
}
