:root {
  --color-1: #000000; /* Used 385 times */
  --color-2: #b3a3f8; /* Used 198 times */
  --color-3: #ffffff; /* Used 153 times */
  --color-4: #291a6f; /* Used 45 times */
  --color-5: #eeeaff; /* Used 30 times */
  --color-6: #180e45; /* Used 21 times */
  --color-7: #e5e7eb; /* Used 20 times */
  --color-8: #c2b8f1; /* Used 9 times */
  --color-9: #cfc5fd; /* Used 9 times */
  --color-10: #080419; /* Used 1 time */
  --color-11: #07070a; /* Used 1 time */
  --color-12: #1fc16b; /* Used 1 time */
}

