*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cells{
    display: grid;
    grid-template-columns: repeat(3, 10rem);
}

.cells button{
    width: 10rem;
    height: 10rem;
    cursor: pointer;
}