/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* LIGHT MODE */
body {
    width: 350px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    transition: background-color 2s ease, color 2s ease;
    color: #1a1a1a;
}

.con {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: background-color 2s ease;
    border-radius: 12px;
}

/* PROTECTION HEADER */
.protection-header {
    padding: 20px;
    background-color: #F1F1F1;
    width: 100%;
    height: 50px;
    border-radius: 12px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #007D74;
    font-weight: 600;
    font-size: 10px;
}

/* SWITCH */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #00B3A6;
}

input:focus + .slider {
    box-shadow: 0 0 1px #00B3A6;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* DARK MODE */
body.dark-mode {
    background-color: #1a1a1a;
    color: #F1F1F1;
}

.dark-mode .con {
    background-color: #2a2a2a;
}

.dark-mode .protection-header {
    background-color: #00574B; /* Darker teal */
    color: #00FFC6;
}

.dark-mode input:checked + .slider {
    background-color: #00FFC6;
}

.dark-mode input:focus + .slider {
    box-shadow: 0 0 1px #00FFC6;
}
