*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
}

.list{
    display: flex;
    justify-content: center;
    gap: 10px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.img{
    width: 130px;
    height: 250px;
    background-color: aqua;
    background-image: var(--url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .5s;
    filter: brightness(0);
    cursor: pointer;
}

.img:hover{
    filter: brightness(1);
    transform: translateZ(200px);
}

.img:hover + * {
    filter: brightness(.3);
    transform: translateZ(150px) rotateY(40deg);
}

.img:hover + * + *{
    filter: brightness(.2);
    transform: translateZ(100px) rotateY(20deg);
}

.img:hover + * + * + *{
    filter: brightness(.1);
    transform: translateZ(80px) rotateY(10deg);
}

.img:has(+ *:hover){
    filter: brightness(.3);
    transform: translateZ(150px) rotateY(-40deg);
}

.img:has(+ * + *:hover){
    filter: brightness(.2);
    transform: translateZ(150px) rotateY(-20deg);
}

.img:has(+ * + * + *:hover){
    filter: brightness(.1);
    transform: translateZ(150px) rotateY(-10deg);
}