*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Pomodoro{
    width: 100%;
    height: 50%;
    /* background-color: #f2f2f2; */
    border-radius: inherit;
    box-shadow: 0 0rem 1rem 0 #4c000f;
    /* display: flex;
    flex: 1; */
}