*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quantico", serif;
}

:root{
    --bg:linear-gradient(45deg, transparent,#00ADB5);
}

body{
    /* background-color: #222831; */
}

a{
    color: white;
    text-decoration: none;
    list-style: none;
}

.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 10px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1s;
}

@keyframes show-content {
    100%{
        visibility: visible;
        opacity: 1;
    }
}

.navbar .logo{
    color: transparent;
    font-size: 50px;
    font-weight: bold;
    position: relative;
    -webkit-text-stroke: 1px #00ADB5;
    /* -webkit-box-reflect:below 1px linear-gradient(#0001,transparent); */
}

.navbar .logo::before{
    content: attr(data-text);
    position: absolute;
    color: #00ADB5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* border-:solid #393E46; */
    overflow: hidden;
    animation: slide 5s linear infinite;
}

@keyframes slide {
    0%,100%{
        width: 0;
    }

    60%,90%{
        width: 100%;
    }
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    list-style: none;
    margin-left: 50px;
}

.navbar ul li a{
    font-size: 30px;
    font-weight: bold;
    transition: 0.5s;
}

.navbar ul li:hover a{
    color: #00ADB5;
    border-bottom: 2px solid #00ADB5;
}

.info{
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100vh;
    padding: 20% 10% ;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1s;
}

.person-info h1{
    font-size: 50px;
    /* background-color: blue; */
}

.person-info h2{
    /* background-color: #00ADB5; */
    font-size: 30px;
    padding-left:10px ;
    margin: -5px;
}

.person-info h2 span{
    color: transparent;
    font-size: 50px;
    font-weight: bold;
    position: relative;
    -webkit-text-stroke: 1px #00ADB5;
}


.person-info h2 span::before{
    content: attr(data-text);
    position: absolute;
    color: #00ADB5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* border-:solid #393E46; */
    overflow: hidden;
    animation: slide 5s ease-in-out infinite; 
}

.person-info p{
    margin-top: 15px;
    font-size: 20px;
    padding-left:5px ;
}
.container{
    background-color: ;
}

.container .profile{
    position: relative;
    /* background-color: blue; */
    border-radius: 50%;
    -webkit-box-reflect:below 1px linear-gradient(transparent 85%,#0001);
    /* animation: hovering 5s ease-in-out infinite; */
}

.container .profile img{
    border-radius: 50%;
    height: 600px;
    min-width: 600px;
    object-fit: cover;
    margin: 10px; 
    box-shadow: 2px 4px 5px #00ADB5;
}

.container .profile::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 50%;
    z-index: -1;
    background: var(--bg);
    animation: pulse 2s ease-in-out infinite;
    /* animation:hovering 5s ease-in-out infinite; */
}

@keyframes pulse{
    0%{
        transform: scale(1);
    }
    
    100%{
        transform: scale(1.2);
        opacity: 0;
    }
}

@keyframes hovering {
    0%,100%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(20px);
    }

    70%,90%{
        transform: translateY(-30px);
    }
}

/* .container .profile::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 50%;
    z-index: -1;
    background: conic-gradient(transparent,transparent,transparent,#00ADB5);
    animation: rotate 10s linear infinite;
} */

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.bars-ani{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    z-index: -1;
}

.bars-ani .bars{
    width: 100%;
    height: 100%;
    background-color: #222831;
    transform: translateY(-100%);
    animation: show-bars 1s ease-in-out forwards;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes show-bars {
    100%{
        transform: translateY(0);
    }
}