*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: black;
}

h1{
    font-size: 100px;
    /* -webkit-text-stroke: 1px white; */
    color: transparent;
    position: relative;
}

h1::before{
    border-right: 5px solid white;
    content: attr(data-text);
    position: absolute;
    color: seagreen;
    top: 0;
    left: 0;
    overflow: hidden;
    animation: slide 2s linear infinite;
}

@keyframes slide {
    0%,100%{
        width: 0;
    }

    90%,70%{
        width: 100%;
    }
}