@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&display=swap');
/* font-family: "Oswald", sans-serif; */
/*  font-family: "Lora", serif; */

:root{
    --primary : #01DE82;
    --secondary : #05614B;
    --bg : #020E0E;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
}

.FECon{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: var(--bg);
    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

.FECon .form{
    width: 50%;
    height: 90vh;
    padding: 1rem;
    border-radius: 2rem;
    border: .3rem solid rgba(1, 222, 130, 0.15);
    background: 
                radial-gradient(circle at top center,rgba(1, 222, 130, 0.1),transparent 40%), 
                radial-gradient(circle at bottom left,rgba(1, 222, 130, 0.1),transparent 40%),
                radial-gradient(circle at bottom right,rgba(1, 222, 130, 0.1),transparent 40%),
                var(--bg);
    /* flex */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.form .heading{
    font-family: "Oswald", sans-serif;
    font-size: 3rem;
    color: var(--primary);
    letter-spacing: 0.5px;
    font-weight: 600;
    text-shadow: 0 0 10px rgb(1, 222, 130, .1);
}

.form .card{
    width: 90%;
    height: 85%;
    border-radius: inherit;
    border: .2rem solid rgba(1, 222, 130, .15);
    background: radial-gradient(circle, rgba(1, 222, 130, .3 ),transparent 100%, var(--secondary));
    backdrop-filter: blur(2rem);
}

.form .controls{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.form .controls button{
    width: 10rem;
    height: 5rem;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: .1rem;
    border-radius: 1.5rem;
    border: .15rem solid var(--primary);
    cursor: pointer;
    background: transparent;
    color: var(--primary);
    position: relative;
    overflow: hidden;
    transition: color .5s ease , transfrom .5s ease;

    &:active{
        transform: scale(.98);
    }
}

.form .controls .previous{
    border: none;
}

.form .controls button::before{
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(1, 222, 130, .7);
    transform: translateX(-100%);
    transition: transform .75s cubic-bezier(.4, 0, .2,1);
}

.form .controls .previous::before{
    transform: translateX(100%);
}

.form .controls button span{
    position: relative;
    z-index: 1;
}

.form .controls button:hover::before{
    transform: translateX(0);
}

.form .controls button:hover{
    color: var(--bg);
}