.TabCon{
    width: 15%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.btns{
    color: #09324A;
    width: 150px;
    height: 40px;
    background: linear-gradient(90deg,#DAD7C8, #F3F2EA);
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: transform .3s;
}

.btns:hover{
    transform: scale(1.1);
}

.btns.active{
    background: linear-gradient(90deg,#DAD7C8, #FFFB08);
}
