.container{
    margin:10px auto;
    padding: 200px;
    display:flex;
    justify-content: center;
    align-items: center;

}

.container img{
    margin: 10px;
    width: 220px;
    height: 340px;
    opacity: 0.3;
}

.container img:hover{
    transition-property: opacity;
    transition-timing-function: ease-in;
    transition-duration: 1.5s;
    transition-delay: 0.2s;
    box-shadow: 5px 5px 10px #E82561;
    transform: scale(1.75);
    opacity: 1;
}