    @import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Indie Flower", cursive;
    }

    body {
        width: 100%;
        height: 100vh;
        /* background-color: black; */
        background: linear-gradient(45deg, #2196F3, #42A5F5, #64B5F6, #90CAF9, #BBDEFB, #E3F2FD);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .con {
        width: 500px;
        height: 600px;
        background: aliceblue;
        border-radius: 30px;
        padding: 10px;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        position: relative;
    }

    .con::after {
        content: '';
        position: absolute;
        inset: -5px;
        border-radius: 30px;
        /* background: conic-gradient(from var(--angle), white, #0582CA, #006494, #003554, #051923, #00A6FB); */
        background: conic-gradient(from var(--angle), #00B4D8, #03045E, #00B4D8, #03045E, #00B4D8);
        z-index: -1;
        animation: glow 5s linear infinite;
    }

    .con::before{
        z-index: -2;
        filter: blur(20px);
        opacity: 0.2;
    }

    @property --angle {
        syntax: "<angle>";
        initial-value: 0deg;
        inherits: false;
    }

    @keyframes glow {
        from {
            --angle: 0deg;
        }
        to {
            --angle: 360deg;
        }
    }


    .btn{
        background-color: #03045E;
        color: aliceblue;
        padding: 10px;
        font-size: 20px;
        border-radius: 40px;
        cursor: pointer;
    }

    .heading{
        font-size: 50px;
        color: #03045E;
    }

    .photo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .photo img{
        width: 400px;
        height: 400px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        border: 2px solid #03045E;
    }

    .photo h3{
        text-align: center;
        margin-top: 20px;
        color: #03045E;
        width: 100%;
        height: 30px;
    }

    /* .photo{
        display: none;
    } */